.App {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton {
    border: none;
    padding: 10px;
    background-color: rgb(175, 117, 16);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button {
    gap: 10px;
}

a:link {
    color: rgb(22, 7, 7);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:none;
}
  
a:hover, a:active {
    background-color: rgb(217, 16, 16);
}

